body{
    margin: 0;
    padding: 0;
}
#calculadora{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 360px;
    border-radius: 20px;
    padding: 5px;
    background-image: url(/imagenes/fondo-calculadora.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 8px 16px 0 gray;
}
h4{
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 20px;
}
#pantalla{
    border: 5px solid rgb(196, 132, 72);
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0px 5px;
    font-size: 25px;
    width: 90%;
    height: 50px;
    background-color: #9dcfcd;
    overflow: hidden;
}
.botones{
    display: grid;
    grid-template-columns: repeat(4, 55px);
    grid-template-rows: repeat(5, 55px);
}
button{
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 20px;
  font-size: 1.5em;
  border: none;  
  color: rgb(0, 0, 0);
  background-color: rgba(240, 248, 255, 0.87);
  box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #f8f8f841;

}
.col-2{
    grid-column: span 2;
}
.borrar{
    background-color:rgba(226, 109, 109, 0.959);
}
/* frases */
.contenido-arnold-te-ayuda{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    box-shadow: 0 8px 16px 0 gray;
    padding: 10px 5px;
    border-radius: 20px;
}
.frase-motivacional{
    background-color: rgb(190, 172, 172);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: max-content;
    padding: 5px 10px;
    border-radius: 20px;
}
.frase-motivacional p{
    text-align: center;
}